<!-- <h6>Are You Sure ? You Want to Delete the Movie ?</h6>

<a href="{% url 'movieapp:index' %}">YES</a> <a href="">NO</a> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Movie - Confirmation</title>
</head>
<body>
    <h2>Confirm Deletion</h2>
    <p>Are you sure you want to delete the movie "{{ movie.title }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
        <a href="/">Cancel</a>
    </form>
</body>
</html>
